.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  
@media (min-width: 300px) and (max-width: 992px){ /* Здесь для современных телефонов */
    .Authorisation {
        font-size: 0;
    }
    .AuthorisationForm {
        width: 250px;
    }
    .regForma {
      width: 250px;
    }
}

@media (min-width: 0px) and (max-width: 401px) { /* Здесь для стерньких и маленьких*/
    .AuthorisationImg {
        position: relative;
        left: 200%;
    }
    .AuthorisationForm {
        width: 250px;
    }
}

@media (min-width: 993px) and (max-width: 2000px){
      .AuthorisationForm {
        width: 500px;
      }
} 


.Authorisation {
    font-family: "Roboto", sans-serif;
    color: black;
}

.container {
    font-family: "Roboto", sans-serif;
}




